h2{
    color:white;
    font-size: 2em;
}


#dealer-cards img {
    height: 200px;
    width: 140px;
    margin: 0px 6px;
    transition: all 0.3s;
   
}
#dealer-cards img:not(#hidden){
    opacity: 0;
    transform: translateX(100%);
}

#dealer-cards img:not(#hidden).animate{
    opacity: 1;
    transform: translateX(0%);
}
#dealer-cards img:hover, #your-cards img:hover{
    box-shadow: 5px 5px 10px black;
}
#your-cards img {
    height: 200px;
    width: 140px;
    margin: 0px 6px;
    transition: all 0.3s;
    opacity: 0;
    transform: translateX(100%);
}
#your-cards img.animate{
    opacity: 1;
    transform: translateX(0%);
}
#hit:hover, #stay:hover{
    background-color: white;
    color:black;
}
#hit{
    margin-right: 10px;
}

#hit, #stay {
    width: 130px;
    height: 60px;
    font-size: 20px;
    margin-top: 20px;
    border-radius: 10px;
    cursor: pointer;
    background-color: black;
    border: solid white 3px;
    color: white;
    transition: all 0.2s;
}

